lingua-language-detector
qtpy
PySide6
qtawesome
nuitka
pyperclip
requests
jstyleson
semantic-version
BeautifulSoup4
lxml
plyvel-ci
py7zr
rarfile
cloudscraper
pywin32
pyuac
websocket-client
unrar
googletrans==3.1.0a0
deepl
pyzmq
