lingua-language-detector
qtpy
PySide6==6.6.1
qtawesome
nuitka  # Has problems with AV detections
pyinstaller  # Has also problems with AV but less than nuitka
pyinstaller-versionfile
cx_freeze  # Seems to be fine with AV
pyperclip
requests
jstyleson
semantic-version
plyvel-ci
py7zr
rarfile
cloudscraper
pywin32
pyuac
websocket-client
unrar
googletrans==3.1.0a0
deepl
pyzmq
spylls
pytz
comtypes
lz4
virtual_glob
beautifulsoup4
