/* Introduction header */
IntroductionPage [title=true] {
    font-size: 48px;
    font-weight: 300;
    letter-spacing: ${metrics.spacing};
    margin-left: ${metrics.spacing_l};
}

/* About Dialog */
AboutDialog [title=true] {
    font-weight: 300;
    letter-spacing: ${metrics.spacing_s};
}

QTreeWidget::item,
QTreeWidget::branch {
    border-top: ${metrics.border_width} solid transparent;
    border-bottom: ${metrics.border_width} solid ${colors.border};
}

/* Editor Page */
EditorPage {
    padding: ${metrics.spacing};
}

EditorPage > QTreeWidget QScrollBar:vertical {
    margin-top: 0;
}

EditorPage > QTreeWidget QPushButton {
    padding: 0px;
    background: transparent;
    border-color: transparent;
    border-radius: ${metrics.radius_ms}
}
EditorPage > QTreeWidget QPushButton:hover {
    background: ${colors.surface_pressed};
    border-color: ${colors.surface_pressed};
}

/* Menubar */
MenuBar {
    background-color: ${meta.window_bg};
    border-bottom: ${metrics.border_width} solid ${colors.border};
}
MenuBar::item {
    background-color: ${meta.window_bg};
}
MenuBar > QToolButton {
    background-color: transparent;
    border: none;
    padding: ${metrics.spacing_xs} ${metrics.spacing_s};
}

/* Main Tabbar */
QMainWindow > TabWidget > QTabBar {
    border-radius: 0px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

/* Toolbars */
QToolBar > [title=true] {
    margin: 0 ${metrics.spacing};
}
QToolBar > SearchBar {
    margin: 0 ${metrics.spacing_s};
}

/* Main Statusbar */
QStatusBar {
    background-color: ${colors.surface};
    border: none;
    border-radius: 0px;
}

QStatusBar > QLabel#api_label {
    border-left: ${metrics.border_width} solid ${colors.border_strong};
    border-right: ${metrics.border_width} solid ${colors.border_strong};
    padding: 0 ${metrics.spacing};
    margin: 0 ${metrics.spacing};
}

QStatusBar QAbstractButton {
    padding: 0px;
}

/* Download List Widget */
DownloadListWidget QTreeWidget QComboBox {
    padding-bottom: 0px;
    padding-top: 0px;
    border-color: transparent;
}
DownloadListWidget QTreeWidget QPushButton {
    border-color: transparent;
}
DownloadListWidget QTreeWidget QComboBox:disabled {
    background-color: transparent;
}
DownloadListWidget QTreeWidget QComboBox:hover:!disabled,
DownloadListWidget QTreeWidget QPushButton:hover:!disabled:!pressed {
    background-color: ${colors.surface_pressed};
}

Divider[orientation="horizontal"] {
    margin-left: 0px;
    margin-right: 0px;
}

/* Translator Dialog */
TranslatorDialog Divider[orientation="horizontal"] {
    margin-bottom: ${metrics.spacing};
}

TranslatorDialog QGroupBox {
    border: none;
    margin-top: 16px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 12px;
}
TranslatorDialog QGroupBox::title {
    margin-left: -2px;
    margin-right: 0px;
    margin-top: -24px;
    padding-left: 0px;
    padding-top: 0px;
    subcontrol-origin: border;
}
